body {
  font-size: 14px;
  margin: 0 auto; }

hr {
  border-color: #666666; }

#header .header-menu {
  background: #232323;
  padding: 10px; }
  #header .header-menu .container .menu-left ul {
    list-style: none; }
    #header .header-menu .container .menu-left ul li {
      display: inline-block;
      margin-right: 20px; }
      #header .header-menu .container .menu-left ul li a {
        color: #ffffff;
        font-family: Dosis;
        font-size: 16px;
        font-weight: bold;
        line-height: 60px; }
        #header .header-menu .container .menu-left ul li a i {
          color: #f8a631; }
  #header .header-menu .container .menu-right ul {
    list-style: none; }
    #header .header-menu .container .menu-right ul li {
      display: inline-block;
      margin-right: 20px; }
      #header .header-menu .container .menu-right ul li a {
        color: #ffffff;
        font-family: Dosis;
        font-size: 16px;
        font-weight: bold;
        line-height: 60px; }
#header .header-page {
  background: #585858; }
  #header .header-page .container .page-blog {
    text-align: center;
    padding: 60px; }
    #header .header-page .container .page-blog h1 {
      color: #ffffff;
      font-family: Dosis;
      font-size: 30px;
      font-weight: bold; }
    #header .header-page .container .page-blog a {
      color: #ffffff;
      font-family: Dosis;
      font-size: 14px;
      font-style: Italic; }

.content {
  padding-top: 50px;
  padding-bottom: 50px; }
  .content .container .row .col-md-8 .content-camera .header-camera {
    background: #bd83d4; }
    .content .container .row .col-md-8 .content-camera .header-camera .icon-camera {
      text-align: center;
      padding: 10px; }
      .content .container .row .col-md-8 .content-camera .header-camera .icon-camera i {
        color: #ffffff;
        cursor: pointer; }
      .content .container .row .col-md-8 .content-camera .header-camera .icon-camera p {
        color: #ffffff;
        font-family: raleway;
        font-weight: bold;
        font-size: 12px; }
  .content .container .row .col-md-8 .content-camera .footer-camera a img {
    max-width: 100%; }
  .content .container .row .col-md-8 .content-blog {
    text-align: center; }
    .content .container .row .col-md-8 .content-blog .blog-icon {
      padding-left: 35%; }
      .content .container .row .col-md-8 .content-blog .blog-icon i {
        float: left;
        font-size: 30px;
        margin-right: 10px; }
      .content .container .row .col-md-8 .content-blog .blog-icon p {
        line-height: 35px; }
        .content .container .row .col-md-8 .content-blog .blog-icon p a {
          color: #777777;
          font-family: raleway;
          font-size: 14px; }
    .content .container .row .col-md-8 .content-blog a img {
      max-width: 100%; }
    .content .container .row .col-md-8 .content-blog h3 {
      font-family: raleway;
      font-size: 14px;
      color: #f8a631; }
    .content .container .row .col-md-8 .content-blog h1 {
      padding: 0 55px;
      font-family: raleway;
      font-size: 36px;
      font-weight: bold;
      color: #333333; }
    .content .container .row .col-md-8 .content-blog p {
      font-family: raleway;
      font-size: 16px;
      color: #878787; }
    .content .container .row .col-md-8 .content-blog h5 {
      font-family: raleway;
      font-size: 14px;
      color: #777777; }
    .content .container .row .col-md-8 .content-blog ul {
      list-style: none;
      padding-top: 20px; }
      .content .container .row .col-md-8 .content-blog ul li {
        display: inline-block;
        margin-left: 20px; }
        .content .container .row .col-md-8 .content-blog ul li a {
          font-family: raleway;
          font-size: 12px;
          color: #777777; }
          .content .container .row .col-md-8 .content-blog ul li a i {
            margin-right: 5px; }
  .content .container .row .col-md-8 .content-list-1 h2 {
    font-family: raleway;
    font-size: 30px;
    font-weight: bold;
    color: #878787; }
  .content .container .row .col-md-8 .content-list-1 p {
    font-family: raleway;
    font-size: 16px;
    color: #878787;
    padding-top: 10px; }
    .content .container .row .col-md-8 .content-list-1 p a {
      font-family: raleway;
      font-size: 13px;
      color: #878787;
      padding-top: 10px; }
  .content .container .row .col-md-8 .content-list-1 a img {
    width: 100%; }
  .content .container .row .col-md-8 .content-list-1 ul {
    padding: 20px 20px; }
    .content .container .row .col-md-8 .content-list-1 ul li {
      list-style: none;
      margin-top: 10px; }
      .content .container .row .col-md-8 .content-list-1 ul li a {
        font-family: raleway;
        font-size: 16px;
        color: #878787; }
        .content .container .row .col-md-8 .content-list-1 ul li a i {
          margin-right: 10px;
          font-size: 10px;
          border: 3px solid #f4f4f4;
          border-radius: 50%;
          line-height: 9px; }
  .content .container .row .col-md-8 .content-list-2 {
    text-align: center; }
    .content .container .row .col-md-8 .content-list-2 ul li {
      list-style: none;
      display: inline-block;
      margin-right: 10px; }
      .content .container .row .col-md-8 .content-list-2 ul li a {
        font-family: raleway;
        font-size: 12px;
        color: #878787; }
  .content .container .row .col-md-8 .content-list-blog {
    text-align: center; }
    .content .container .row .col-md-8 .content-list-blog .icon-list i {
      font-size: 80px;
      color: #666666; }
    .content .container .row .col-md-8 .content-list-blog h3 {
      font-family: raleway;
      font-size: 14px;
      font-weight: bold;
      color: #f8a631; }
    .content .container .row .col-md-8 .content-list-blog p {
      font-family: raleway;
      font-size: 13px;
      color: #878787; }
    .content .container .row .col-md-8 .content-list-blog ul li {
      list-style: none;
      display: inline-block; }
      .content .container .row .col-md-8 .content-list-blog ul li a {
        font-family: raleway;
        font-size: 11px;
        color: #2980b9;
        font-weight: bold; }
      .content .container .row .col-md-8 .content-list-blog ul li i {
        font-size: 3px;
        padding: 15px; }
  .content .container .row .col-md-8 .content-related {
    padding-bottom: 200px;
    padding-top: 10px;
    border-top: 2px solid #f4f4f4; }
    .content .container .row .col-md-8 .content-related h3 {
      font-family: Dosis;
      color: #333333;
      font-weight: bold;
      font-size: 24px;
      text-align: center; }
    .content .container .row .col-md-8 .content-related .related-post {
      padding-top: 40px; }
      .content .container .row .col-md-8 .content-related .related-post:after {
        display: block; }
      .content .container .row .col-md-8 .content-related .related-post .post-item {
        background: #f4f4f4;
        width: 49%;
        float: left; }
        .content .container .row .col-md-8 .content-related .related-post .post-item .related-item {
          padding: 20px; }
          .content .container .row .col-md-8 .content-related .related-post .post-item .related-item a {
            float: left;
            margin-right: 15px; }
          .content .container .row .col-md-8 .content-related .related-post .post-item .related-item .item-related span {
            color: #f8a631;
            font-weight: bold;
            font-family: raleway;
            font-size: 11px; }
          .content .container .row .col-md-8 .content-related .related-post .post-item .related-item .item-related h4 {
            font-family: raleway;
            font-weight: bold;
            font-size: 16px;
            color: #333333; }
          .content .container .row .col-md-8 .content-related .related-post .post-item .related-item .item-related p {
            font-family: raleway;
            font-size: 12px;
            color: #666666; }
      .content .container .row .col-md-8 .content-related .related-post .post-item-2 {
        background: #f4f4f4;
        width: 50%;
        float: right; }
        .content .container .row .col-md-8 .content-related .related-post .post-item-2 .related-item-2 {
          padding: 20px; }
          .content .container .row .col-md-8 .content-related .related-post .post-item-2 .related-item-2 a {
            float: left;
            margin-right: 15px; }
          .content .container .row .col-md-8 .content-related .related-post .post-item-2 .related-item-2 .item-related-2 span {
            color: #f8a631;
            font-weight: bold;
            font-family: raleway;
            font-size: 11px; }
          .content .container .row .col-md-8 .content-related .related-post .post-item-2 .related-item-2 .item-related-2 h4 {
            font-family: raleway;
            font-weight: bold;
            font-size: 16px;
            color: #333333; }
          .content .container .row .col-md-8 .content-related .related-post .post-item-2 .related-item-2 .item-related-2 p {
            font-family: raleway;
            font-size: 12px;
            color: #666666; }
  .content .container .row .col-md-8 .content-comment {
    padding-bottom: 50px;
    border-top: 2px solid #f4f4f4; }
    .content .container .row .col-md-8 .content-comment h3 {
      font-size: 18px;
      font-family: raleway;
      font-weight: bold;
      color: #333333;
      text-align: center; }
    .content .container .row .col-md-8 .content-comment .comment-blog {
      padding-top: 30px; }
      .content .container .row .col-md-8 .content-comment .comment-blog .blog-left {
        padding-left: 100px; }
      .content .container .row .col-md-8 .content-comment .comment-blog .comment-list a {
        float: left;
        margin-right: 20px; }
      .content .container .row .col-md-8 .content-comment .comment-blog .comment-list .list-top {
        padding-top: 10px; }
        .content .container .row .col-md-8 .content-comment .comment-blog .comment-list .list-top .list-top-comment {
          background-color: #f4f4f4;
          margin-left: 50px;
          padding: 10px 15px 11px 50px; }
        .content .container .row .col-md-8 .content-comment .comment-blog .comment-list .list-top .list-comment {
          padding-bottom: 40px; }
          .content .container .row .col-md-8 .content-comment .comment-blog .comment-list .list-top .list-comment .comment-1 {
            float: left; }
          .content .container .row .col-md-8 .content-comment .comment-blog .comment-list .list-top .list-comment .comment-2 {
            float: right; }
          .content .container .row .col-md-8 .content-comment .comment-blog .comment-list .list-top .list-comment h4 {
            font-family: raleway;
            font-weight: bold;
            font-size: 14px;
            color: #333333; }
            .content .container .row .col-md-8 .content-comment .comment-blog .comment-list .list-top .list-comment h4 span {
              font-family: raleway;
              font-weight: bold;
              font-size: 11px;
              color: #999999;
              cursor: pointer; }
          .content .container .row .col-md-8 .content-comment .comment-blog .comment-list .list-top .list-comment p {
            font-family: raleway;
            font-weight: bold;
            font-size: 11px;
            color: #999999; }
          .content .container .row .col-md-8 .content-comment .comment-blog .comment-list .list-top .list-comment span {
            font-family: raleway;
            font-weight: bold;
            font-size: 11px;
            color: #2980b9;
            cursor: pointer; }
        .content .container .row .col-md-8 .content-comment .comment-blog .comment-list .list-top p {
          font-family: raleway;
          font-size: 13px;
          color: #333333;
          clear: right;
          border-top: 1px solid #f4f4f4;
          padding: 15px;
          margin-left: 137px; }
  .content .container .row .col-md-8 .content-blog-comment {
    background: #f4f4f4; }
    .content .container .row .col-md-8 .content-blog-comment .blog-comment {
      padding: 20px; }
      .content .container .row .col-md-8 .content-blog-comment .blog-comment h3 {
        font-family: raleway;
        font-weight: bold;
        font-size: 18px;
        color: #333333;
        text-align: center; }
      .content .container .row .col-md-8 .content-blog-comment .blog-comment p {
        font-family: raleway;
        font-weight: bold;
        font-size: 14px;
        color: #999999;
        text-align: center; }
    .content .container .row .col-md-8 .content-blog-comment .blog-list .blog-list-comment {
      display: flex; }
      .content .container .row .col-md-8 .content-blog-comment .blog-list .blog-list-comment .comment-name {
        padding: 20px; }
        .content .container .row .col-md-8 .content-blog-comment .blog-list .blog-list-comment .comment-name p {
          font-family: raleway;
          font-weight: bold;
          font-size: 14px;
          color: #333333; }
          .content .container .row .col-md-8 .content-blog-comment .blog-list .blog-list-comment .comment-name p span {
            font-family: raleway;
            font-weight: bold;
            font-size: 14px;
            color: #999999; }
        .content .container .row .col-md-8 .content-blog-comment .blog-list .blog-list-comment .comment-name input {
          height: 45px;
          border: none;
          width: 210px; }
    .content .container .row .col-md-8 .content-blog-comment .blog-list .comment-list {
      padding: 20px; }
      .content .container .row .col-md-8 .content-blog-comment .blog-list .comment-list p {
        font-family: raleway;
        font-weight: bold;
        font-size: 14px;
        color: #333333; }
      .content .container .row .col-md-8 .content-blog-comment .blog-list .comment-list textarea {
        width: 100%;
        height: 300px;
        border: none; }
    .content .container .row .col-md-8 .content-blog-comment .blog-list .comment-footer {
      padding: 20px;
      display: flex;
      justify-content: space-between; }
      .content .container .row .col-md-8 .content-blog-comment .blog-list .comment-footer span {
        font-family: raleway;
        font-size: 14px;
        color: #5e5e5e; }
      .content .container .row .col-md-8 .content-blog-comment .blog-list .comment-footer button {
        height: 45px;
        width: 160px;
        background: #f8a631;
        color: #ffffff;
        font-family: raleway;
        font-weight: bold;
        font-size: 16px;
        border: none;
        border-radius: 25px; }
  .content .container .row .col-md-8 .content-camera-2 {
    padding-top: 40px; }
    .content .container .row .col-md-8 .content-camera-2 .header-camera {
      background: red; }
      .content .container .row .col-md-8 .content-camera-2 .header-camera .icon-camera {
        text-align: center;
        padding: 10px; }
        .content .container .row .col-md-8 .content-camera-2 .header-camera .icon-camera i {
          color: #ffffff;
          cursor: pointer; }
        .content .container .row .col-md-8 .content-camera-2 .header-camera .icon-camera p {
          color: #ffffff;
          font-family: raleway;
          font-weight: bold;
          font-size: 12px; }
    .content .container .row .col-md-8 .content-camera-2 .footer-camera a img {
      max-width: 100%; }
  .content .container .row .col-md-8 .content-blog {
    text-align: center; }
    .content .container .row .col-md-8 .content-blog a img {
      max-width: 100%; }
    .content .container .row .col-md-8 .content-blog h3 {
      font-family: raleway;
      font-size: 14px;
      color: #f8a631; }
    .content .container .row .col-md-8 .content-blog h1 {
      padding: 0 55px;
      font-family: raleway;
      font-size: 36px;
      font-weight: bold;
      color: #333333; }
    .content .container .row .col-md-8 .content-blog p {
      font-family: raleway;
      font-size: 16px;
      color: #878787;
      text-align: justify; }
    .content .container .row .col-md-8 .content-blog h5 {
      font-family: raleway;
      font-size: 14px;
      color: #777777; }
    .content .container .row .col-md-8 .content-blog ul {
      list-style: none; }
      .content .container .row .col-md-8 .content-blog ul li {
        display: inline-block;
        margin-left: 20px; }
        .content .container .row .col-md-8 .content-blog ul li a {
          font-family: raleway;
          font-size: 12px;
          color: #777777; }
          .content .container .row .col-md-8 .content-blog ul li a i {
            margin-right: 5px; }
  .content .container .row .col-md-8 .content-camera-3 {
    padding-top: 40px; }
    .content .container .row .col-md-8 .content-camera-3 .header-camera {
      background: #eba05e; }
      .content .container .row .col-md-8 .content-camera-3 .header-camera .icon-camera {
        text-align: center;
        padding: 10px; }
        .content .container .row .col-md-8 .content-camera-3 .header-camera .icon-camera i {
          color: #ffffff;
          cursor: pointer; }
        .content .container .row .col-md-8 .content-camera-3 .header-camera .icon-camera p {
          color: #ffffff;
          font-family: raleway;
          font-weight: bold;
          font-size: 12px; }
    .content .container .row .col-md-8 .content-camera-3 .footer-camera {
      background: #f4f4f4;
      margin-top: -20px; }
      .content .container .row .col-md-8 .content-camera-3 .footer-camera h3 {
        padding: 50px;
        font-family: raleway;
        font-weight: bold;
        font-size: 30px;
        text-align: center; }
  .content .container .row .col-md-8 .content-blog {
    text-align: center; }
    .content .container .row .col-md-8 .content-blog a img {
      max-width: 100%; }
    .content .container .row .col-md-8 .content-blog h3 {
      font-family: raleway;
      font-size: 14px;
      color: #f8a631; }
    .content .container .row .col-md-8 .content-blog h1 {
      padding: 0 55px;
      font-family: raleway;
      font-size: 36px;
      font-weight: bold;
      color: #333333; }
    .content .container .row .col-md-8 .content-blog p {
      font-family: raleway;
      font-size: 16px;
      color: #878787; }
    .content .container .row .col-md-8 .content-blog h5 {
      font-family: raleway;
      font-size: 14px;
      color: #777777; }
    .content .container .row .col-md-8 .content-blog ul {
      list-style: none; }
      .content .container .row .col-md-8 .content-blog ul li {
        display: inline-block;
        margin-left: 20px; }
        .content .container .row .col-md-8 .content-blog ul li a {
          font-family: raleway;
          font-size: 12px;
          color: #777777; }
          .content .container .row .col-md-8 .content-blog ul li a i {
            margin-right: 5px; }
  .content .container .row .col-md-8 .content-camera-4 {
    padding-top: 40px; }
    .content .container .row .col-md-8 .content-camera-4 .header-camera {
      background: #2c84d6; }
      .content .container .row .col-md-8 .content-camera-4 .header-camera .icon-camera {
        text-align: center;
        padding: 10px; }
        .content .container .row .col-md-8 .content-camera-4 .header-camera .icon-camera i {
          color: #ffffff;
          cursor: pointer; }
        .content .container .row .col-md-8 .content-camera-4 .header-camera .icon-camera p {
          color: #ffffff;
          font-family: raleway;
          font-weight: bold;
          font-size: 12px; }
    .content .container .row .col-md-8 .content-camera-4 .footer-camera a img {
      max-width: 100%; }
  .content .container .row .col-md-8 .content-blog {
    text-align: center; }
    .content .container .row .col-md-8 .content-blog a img {
      max-width: 100%; }
    .content .container .row .col-md-8 .content-blog h3 {
      font-family: raleway;
      font-size: 14px;
      color: #f8a631; }
    .content .container .row .col-md-8 .content-blog h1 {
      padding: 0 55px;
      font-family: raleway;
      font-size: 36px;
      font-weight: bold;
      color: #333333; }
    .content .container .row .col-md-8 .content-blog p {
      font-family: raleway;
      font-size: 16px;
      color: #878787; }
    .content .container .row .col-md-8 .content-blog h5 {
      font-family: raleway;
      font-size: 14px;
      color: #777777; }
    .content .container .row .col-md-8 .content-blog ul {
      list-style: none; }
      .content .container .row .col-md-8 .content-blog ul li {
        display: inline-block;
        margin-left: 20px; }
        .content .container .row .col-md-8 .content-blog ul li a {
          font-family: raleway;
          font-size: 12px;
          color: #777777; }
          .content .container .row .col-md-8 .content-blog ul li a i {
            margin-right: 5px; }
  .content .container .row .col-md-8 .content-camera-5 {
    padding-top: 40px; }
    .content .container .row .col-md-8 .content-camera-5 .header-camera {
      background: #2c84d6; }
      .content .container .row .col-md-8 .content-camera-5 .header-camera .icon-camera {
        text-align: center;
        padding: 10px; }
        .content .container .row .col-md-8 .content-camera-5 .header-camera .icon-camera i {
          color: #ffffff;
          cursor: pointer; }
        .content .container .row .col-md-8 .content-camera-5 .header-camera .icon-camera p {
          color: #ffffff;
          font-family: raleway;
          font-weight: bold;
          font-size: 12px; }
    .content .container .row .col-md-8 .content-camera-5 .footer-camera {
      background: #f4f4f4; }
  .content .container .row .col-md-8 .content-blog {
    text-align: center; }
    .content .container .row .col-md-8 .content-blog .blog-media {
      background: #f4f4f4;
      padding-top: 20px; }
    .content .container .row .col-md-8 .content-blog a img {
      max-width: 100%; }
    .content .container .row .col-md-8 .content-blog h3 {
      font-family: raleway;
      font-size: 14px;
      color: #f8a631; }
    .content .container .row .col-md-8 .content-blog h1 {
      padding: 0 55px;
      font-family: raleway;
      font-size: 36px;
      font-weight: bold;
      color: #333333; }
    .content .container .row .col-md-8 .content-blog p {
      font-family: raleway;
      font-size: 16px;
      color: #878787; }
    .content .container .row .col-md-8 .content-blog h5 {
      font-family: raleway;
      font-size: 14px;
      color: #777777; }
    .content .container .row .col-md-8 .content-blog ul {
      list-style: none; }
      .content .container .row .col-md-8 .content-blog ul li {
        display: inline-block;
        margin-left: 20px; }
        .content .container .row .col-md-8 .content-blog ul li a {
          font-family: raleway;
          font-size: 12px;
          color: #777777; }
          .content .container .row .col-md-8 .content-blog ul li a i {
            margin-right: 5px; }
  .content .container .row .col-md-8 .content-camera-6 {
    padding-top: 40px; }
    .content .container .row .col-md-8 .content-camera-6 .header-camera {
      background: #37be70; }
      .content .container .row .col-md-8 .content-camera-6 .header-camera .icon-camera {
        text-align: center;
        padding: 10px; }
        .content .container .row .col-md-8 .content-camera-6 .header-camera .icon-camera i {
          color: #ffffff;
          cursor: pointer; }
        .content .container .row .col-md-8 .content-camera-6 .header-camera .icon-camera p {
          color: #ffffff;
          font-family: raleway;
          font-weight: bold;
          font-size: 12px; }
    .content .container .row .col-md-8 .content-camera-6 .footer-camera {
      background: #232323;
      margin-top: -20px; }
      .content .container .row .col-md-8 .content-camera-6 .footer-camera h3 {
        padding: 50px;
        font-family: raleway;
        font-weight: bold;
        font-size: 30px;
        color: #ffffff; }
      .content .container .row .col-md-8 .content-camera-6 .footer-camera p {
        color: #ffffff;
        padding: 0px 0 50px 50px; }
  .content .container .row .col-md-8 .content-camera-7 {
    padding-top: 40px; }
    .content .container .row .col-md-8 .content-camera-7 .header-camera {
      background: #2c3e50; }
      .content .container .row .col-md-8 .content-camera-7 .header-camera .icon-camera {
        text-align: center;
        padding: 10px; }
        .content .container .row .col-md-8 .content-camera-7 .header-camera .icon-camera i {
          color: #ffffff;
          cursor: pointer; }
        .content .container .row .col-md-8 .content-camera-7 .header-camera .icon-camera p {
          color: #ffffff;
          font-family: raleway;
          font-weight: bold;
          font-size: 12px; }
    .content .container .row .col-md-8 .content-camera-7 .footer-camera a img {
      max-width: 100%; }
  .content .container .row .col-md-8 .content-blog {
    text-align: center; }
    .content .container .row .col-md-8 .content-blog a img {
      max-width: 100%; }
    .content .container .row .col-md-8 .content-blog h3 {
      font-family: raleway;
      font-size: 14px;
      color: #f8a631; }
    .content .container .row .col-md-8 .content-blog h1 {
      padding: 0 55px;
      font-family: raleway;
      font-size: 36px;
      font-weight: bold;
      color: #333333; }
    .content .container .row .col-md-8 .content-blog p {
      font-family: raleway;
      font-size: 16px;
      color: #878787; }
    .content .container .row .col-md-8 .content-blog h5 {
      font-family: raleway;
      font-size: 14px;
      color: #777777; }
    .content .container .row .col-md-8 .content-blog ul {
      list-style: none; }
      .content .container .row .col-md-8 .content-blog ul li {
        display: inline-block;
        margin-left: 20px; }
        .content .container .row .col-md-8 .content-blog ul li a {
          font-family: raleway;
          font-size: 12px;
          color: #777777; }
          .content .container .row .col-md-8 .content-blog ul li a i {
            margin-right: 5px; }
  .content .container .row .col-md-8 .content-camera-8 {
    padding-top: 40px; }
    .content .container .row .col-md-8 .content-camera-8 .header-camera {
      background: #f39c12; }
      .content .container .row .col-md-8 .content-camera-8 .header-camera .icon-camera {
        text-align: center;
        padding: 10px; }
        .content .container .row .col-md-8 .content-camera-8 .header-camera .icon-camera i {
          color: #ffffff;
          cursor: pointer; }
        .content .container .row .col-md-8 .content-camera-8 .header-camera .icon-camera p {
          color: #ffffff;
          font-family: raleway;
          font-weight: bold;
          font-size: 12px; }
    .content .container .row .col-md-8 .content-camera-8 .footer-camera a img {
      max-width: 100%; }
  .content .container .row .col-md-8 .content-blog {
    text-align: center; }
    .content .container .row .col-md-8 .content-blog a img {
      max-width: 100%; }
    .content .container .row .col-md-8 .content-blog h3 {
      font-family: raleway;
      font-size: 14px;
      color: #f8a631; }
    .content .container .row .col-md-8 .content-blog h1 {
      padding: 0 55px;
      font-family: raleway;
      font-size: 36px;
      font-weight: bold;
      color: #333333; }
    .content .container .row .col-md-8 .content-blog p {
      font-family: raleway;
      font-size: 16px;
      color: #878787; }
    .content .container .row .col-md-8 .content-blog h5 {
      font-family: raleway;
      font-size: 14px;
      color: #777777; }
    .content .container .row .col-md-8 .content-blog ul {
      list-style: none; }
      .content .container .row .col-md-8 .content-blog ul li {
        display: inline-block;
        margin-left: 20px; }
        .content .container .row .col-md-8 .content-blog ul li a {
          font-family: raleway;
          font-size: 12px;
          color: #777777; }
          .content .container .row .col-md-8 .content-blog ul li a i {
            margin-right: 5px; }
  .content .container .row .col-md-8 .content-camera-9 {
    padding-top: 40px; }
    .content .container .row .col-md-8 .content-camera-9 .header-camera {
      background: #7b6555; }
      .content .container .row .col-md-8 .content-camera-9 .header-camera .icon-camera {
        text-align: center;
        padding: 10px; }
        .content .container .row .col-md-8 .content-camera-9 .header-camera .icon-camera i {
          color: #ffffff;
          cursor: pointer; }
        .content .container .row .col-md-8 .content-camera-9 .header-camera .icon-camera p {
          color: #ffffff;
          font-family: raleway;
          font-weight: bold;
          font-size: 12px; }
    .content .container .row .col-md-8 .content-camera-9 .footer-camera {
      background: #f4f4f4;
      margin-top: -20px; }
      .content .container .row .col-md-8 .content-camera-9 .footer-camera h3 {
        padding: 50px;
        font-family: raleway;
        font-weight: bold;
        font-size: 30px;
        text-align: center; }
  .content .container .row .col-md-8 .content-blog {
    text-align: center; }
    .content .container .row .col-md-8 .content-blog .blog-media {
      background: #f4f4f4;
      padding-top: 1px;
      padding-bottom: 30px; }
    .content .container .row .col-md-8 .content-blog a img {
      max-width: 100%; }
    .content .container .row .col-md-8 .content-blog h3 {
      font-family: raleway;
      font-size: 14px;
      color: #f8a631; }
    .content .container .row .col-md-8 .content-blog h1 {
      padding: 0 55px;
      font-family: raleway;
      font-size: 36px;
      font-weight: bold;
      color: #333333; }
    .content .container .row .col-md-8 .content-blog p {
      font-family: raleway;
      font-size: 16px;
      color: #878787; }
    .content .container .row .col-md-8 .content-blog h5 {
      font-family: raleway;
      font-size: 14px;
      color: #777777; }
    .content .container .row .col-md-8 .content-blog ul {
      list-style: none; }
      .content .container .row .col-md-8 .content-blog ul li {
        display: inline-block;
        margin-left: 20px; }
        .content .container .row .col-md-8 .content-blog ul li a {
          font-family: raleway;
          font-size: 12px;
          color: #777777; }
          .content .container .row .col-md-8 .content-blog ul li a i {
            margin-right: 5px; }
  .content .container .row .col-md-8 .content-camera-10 {
    padding-top: 40px; }
    .content .container .row .col-md-8 .content-camera-10 .header-camera {
      background: #235935; }
      .content .container .row .col-md-8 .content-camera-10 .header-camera .icon-camera {
        text-align: center;
        padding: 10px; }
        .content .container .row .col-md-8 .content-camera-10 .header-camera .icon-camera i {
          color: #ffffff;
          cursor: pointer; }
        .content .container .row .col-md-8 .content-camera-10 .header-camera .icon-camera p {
          color: #ffffff;
          font-family: raleway;
          font-weight: bold;
          font-size: 12px; }
    .content .container .row .col-md-8 .content-camera-10 .footer-camera {
      background: #f4f4f4;
      margin-top: -20px; }
      .content .container .row .col-md-8 .content-camera-10 .footer-camera h3 {
        padding: 50px;
        font-family: raleway;
        font-weight: bold;
        font-size: 30px;
        text-align: center; }
  .content .container .row .col-md-8 .content-blog {
    text-align: center; }
    .content .container .row .col-md-8 .content-blog .blog-media {
      background: #f4f4f4;
      padding-top: 1px;
      padding-bottom: 30px; }
    .content .container .row .col-md-8 .content-blog a img {
      max-width: 100%; }
    .content .container .row .col-md-8 .content-blog h3 {
      font-family: raleway;
      font-size: 14px;
      color: #f8a631; }
    .content .container .row .col-md-8 .content-blog h1 {
      padding: 0 55px;
      font-family: raleway;
      font-size: 36px;
      font-weight: bold;
      color: #333333; }
    .content .container .row .col-md-8 .content-blog p {
      font-family: raleway;
      font-size: 16px;
      color: #878787; }
    .content .container .row .col-md-8 .content-blog h5 {
      font-family: raleway;
      font-size: 14px;
      color: #777777; }
    .content .container .row .col-md-8 .content-blog ul {
      list-style: none; }
      .content .container .row .col-md-8 .content-blog ul li {
        display: inline-block;
        margin-left: 20px; }
        .content .container .row .col-md-8 .content-blog ul li a {
          font-family: raleway;
          font-size: 12px;
          color: #777777; }
          .content .container .row .col-md-8 .content-blog ul li a i {
            margin-right: 5px; }
  .content .container .row .col-md-4 .sibar .sibar-search {
    margin-top: -20px; }
    .content .container .row .col-md-4 .sibar .sibar-search img {
      margin-top: -15px; }
    .content .container .row .col-md-4 .sibar .sibar-search h2 {
      font-weight: bold;
      font-family: Dosis;
      font-size: 16px; }
    .content .container .row .col-md-4 .sibar .sibar-search p {
      font-family: raleway;
      font-size: 13px;
      color: #656565; }
    .content .container .row .col-md-4 .sibar .sibar-search input {
      height: 45px;
      width: 75%;
      border: 1px solid #dddddd;
      text-indent: 20px; }
    .content .container .row .col-md-4 .sibar .sibar-search button {
      height: 45px;
      background: #ed8d05;
      color: #ffffff;
      width: 25%;
      float: right;
      border: none;
      font-size: 12px;
      font-family: raleway;
      font-weight: bold; }
  .content .container .row .col-md-4 .sibar-top {
    padding-top: 20px;
    background: #f4f4f4;
    margin-top: 30px; }
    .content .container .row .col-md-4 .sibar-top .sibar-tab a {
      font-family: raleway;
      font-size: 12px;
      color: #333333;
      font-weight: bold;
      padding: 0 5px 0 36px; }
    .content .container .row .col-md-4 .sibar-top .sibar-tab ul {
      list-style: none;
      padding-left: 0;
      padding-bottom: 30px;
      margin-top: 20px; }
      .content .container .row .col-md-4 .sibar-top .sibar-tab ul li {
        padding: 1px 0px 0px 38px; }
        .content .container .row .col-md-4 .sibar-top .sibar-tab ul li img {
          max-width: 100%;
          float: left;
          margin-right: 10px;
          cursor: pointer; }
        .content .container .row .col-md-4 .sibar-top .sibar-tab ul li .icon-star {
          margin-top: -20px;
          padding-bottom: 10px; }
        .content .container .row .col-md-4 .sibar-top .sibar-tab ul li h3 {
          font-family: raleway;
          font-size: 13px;
          color: #333333;
          font-weight: bold;
          cursor: pointer; }
      .content .container .row .col-md-4 .sibar-top .sibar-tab ul hr {
        width: 74%;
        border: red; }
  .content .container .row .col-md-4 .sibar-editor {
    padding-top: 20px; }
    .content .container .row .col-md-4 .sibar-editor h3 {
      font-weight: bold;
      font-family: Dosis;
      font-size: 16px;
      color: #333333; }
    .content .container .row .col-md-4 .sibar-editor a img {
      max-width: 100%; }
    .content .container .row .col-md-4 .sibar-editor .Edittor-header {
      border: 1px solid #dcdcdc;
      padding: 10px; }
      .content .container .row .col-md-4 .sibar-editor .Edittor-header h4 {
        font-family: raleway;
        font-size: 18px;
        font-weight: bold;
        color: #000000; }
      .content .container .row .col-md-4 .sibar-editor .Edittor-header p {
        font-family: raleway;
        font-size: 12px;
        color: #999999; }
      .content .container .row .col-md-4 .sibar-editor .Edittor-header .Edittor-footer a {
        font-family: raleway;
        font-size: 12px;
        font-weight: bold;
        color: #999999; }
        .content .container .row .col-md-4 .sibar-editor .Edittor-header .Edittor-footer a i {
          color: green; }
      .content .container .row .col-md-4 .sibar-editor .Edittor-header .Edittor-footer .icon-sibar {
        float: right; }
  .content .container .row .col-md-4 .sibar-adverti {
    padding-top: 20px; }
    .content .container .row .col-md-4 .sibar-adverti h3 {
      font-weight: bold;
      font-family: Dosis;
      font-size: 16px;
      color: #333333; }
    .content .container .row .col-md-4 .sibar-adverti .adverti-picture {
      background: #f4f4f4; }
      .content .container .row .col-md-4 .sibar-adverti .adverti-picture .picture-sibar {
        padding-left: 17px; }
      .content .container .row .col-md-4 .sibar-adverti .adverti-picture a img {
        max-width: 100%;
        margin: 17px; }
  .content .container .row .col-md-4 .sibar-intergram {
    padding-top: 20px; }
    .content .container .row .col-md-4 .sibar-intergram h3 {
      font-weight: bold;
      font-family: Dosis;
      font-size: 16px;
      color: #333333; }
    .content .container .row .col-md-4 .sibar-intergram .intergram-picture a {
      margin: 5px; }
      .content .container .row .col-md-4 .sibar-intergram .intergram-picture a img {
        max-width: 100%;
        margin-top: 14px; }
  .content .container .row .col-md-4 .sibar-video {
    padding-top: 20px; }
    .content .container .row .col-md-4 .sibar-video h3 {
      font-weight: bold;
      font-family: Dosis;
      font-size: 16px;
      color: #333333; }
    .content .container .row .col-md-4 .sibar-video a img {
      max-width: 100%; }
  .content .container .row .col-md-4 .sibar-link {
    padding-top: 20px; }
    .content .container .row .col-md-4 .sibar-link .link-one {
      float: left; }
      .content .container .row .col-md-4 .sibar-link .link-one img {
        margin-top: -10px; }
      .content .container .row .col-md-4 .sibar-link .link-one h3 {
        font-weight: bold;
        font-family: Dosis;
        font-size: 16px;
        color: #333333; }
      .content .container .row .col-md-4 .sibar-link .link-one ul {
        padding-left: 18px;
        color: #f88d31; }
        .content .container .row .col-md-4 .sibar-link .link-one ul li a {
          font-family: raleway;
          font-size: 13px;
          color: #333333;
          font-weight: bold; }
    .content .container .row .col-md-4 .sibar-link .link-two {
      float: right;
      padding-right: 100px; }
      .content .container .row .col-md-4 .sibar-link .link-two img {
        margin-top: -10px; }
      .content .container .row .col-md-4 .sibar-link .link-two h3 {
        font-weight: bold;
        font-family: Dosis;
        font-size: 16px;
        color: #333333; }
      .content .container .row .col-md-4 .sibar-link .link-two ul {
        color: #f88d31;
        padding-left: 18px; }
        .content .container .row .col-md-4 .sibar-link .link-two ul li a {
          font-family: raleway;
          font-size: 12px;
          color: #333333;
          font-weight: bold; }
  .content .container .content-padgination {
    text-align: center;
    padding-bottom: 40px; }
    .content .container .content-padgination .pagination {
      text-align: center; }
      .content .container .content-padgination .pagination a {
        color: black;
        float: left;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 4px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        line-height: 40px; }
      .content .container .content-padgination .pagination a.active {
        background-color: #f8a631;
        color: white;
        border: 1px solid #f8a631; }
      .content .container .content-padgination .pagination a:hover:not(.active) {
        background-color: #f8a631; }

#footer .footer-top {
  background: #333333;
  padding-bottom: 50px; }
  #footer .footer-top .container .row .col-md-3 .footer-1 {
    padding-top: 30px; }
    #footer .footer-top .container .row .col-md-3 .footer-1 h3 a {
      font-weight: bold;
      font-family: Dosis;
      font-size: 18px;
      color: #ffffff; }
    #footer .footer-top .container .row .col-md-3 .footer-1 ul {
      list-style: none;
      padding-left: 0;
      padding-top: 10px; }
      #footer .footer-top .container .row .col-md-3 .footer-1 ul li {
        padding-bottom: 10px; }
        #footer .footer-top .container .row .col-md-3 .footer-1 ul li img {
          max-width: 100%;
          float: left; }
        #footer .footer-top .container .row .col-md-3 .footer-1 ul li .picture h4 a {
          font-family: raleway;
          font-size: 13px;
          font-weight: bold;
          color: #ffffff; }
        #footer .footer-top .container .row .col-md-3 .footer-1 ul li .picture i {
          color: #f88d31;
          font-size: 10px; }
  #footer .footer-top .container .row .col-md-3 .footer-2 {
    padding-top: 30px; }
    #footer .footer-top .container .row .col-md-3 .footer-2 h3 a {
      font-weight: bold;
      font-family: Dosis;
      font-size: 18px;
      color: #ffffff; }
    #footer .footer-top .container .row .col-md-3 .footer-2 ul {
      list-style: none;
      padding-left: 0;
      padding-top: 10px; }
      #footer .footer-top .container .row .col-md-3 .footer-2 ul li {
        margin-bottom: -10px; }
        #footer .footer-top .container .row .col-md-3 .footer-2 ul li a {
          font-family: raleway;
          font-size: 13px;
          font-weight: bold;
          color: #ffffff; }
  #footer .footer-top .container .row .col-md-3 .footer-3 {
    padding-top: 30px; }
    #footer .footer-top .container .row .col-md-3 .footer-3 h3 a {
      font-weight: bold;
      font-family: Dosis;
      font-size: 18px;
      color: #ffffff; }
    #footer .footer-top .container .row .col-md-3 .footer-3 ul {
      list-style: none;
      padding-left: 0;
      padding-top: 10px; }
      #footer .footer-top .container .row .col-md-3 .footer-3 ul li a {
        font-family: raleway;
        font-size: 10px;
        font-weight: bold;
        color: #cccccc;
        margin-right: 10px; }
      #footer .footer-top .container .row .col-md-3 .footer-3 ul li p {
        font-family: raleway;
        font-size: 13px;
        font-weight: bold;
        color: #ffffff; }
  #footer .footer-top .container .row .col-md-3 .footer-4 {
    padding-top: 30px; }
    #footer .footer-top .container .row .col-md-3 .footer-4 h3 a {
      font-weight: bold;
      font-family: Dosis;
      font-size: 18px;
      color: #ffffff; }
    #footer .footer-top .container .row .col-md-3 .footer-4 p a {
      font-family: raleway;
      font-size: 12px;
      font-weight: bold;
      color: #ffffff;
      padding-top: 10px; }
    #footer .footer-top .container .row .col-md-3 .footer-4 h4 {
      padding-top: 30px; }
      #footer .footer-top .container .row .col-md-3 .footer-4 h4 a {
        font-weight: bold;
        font-family: Dosis;
        font-size: 18px;
        color: #ffffff; }
    #footer .footer-top .container .row .col-md-3 .footer-4 a i {
      color: #ffffff;
      font-size: 16px;
      cursor: pointer; }
    #footer .footer-top .container .row .col-md-3 .footer-4 p {
      font-family: raleway;
      font-size: 10px;
      font-weight: bold;
      color: #cccccc;
      padding-top: 10px; }
    #footer .footer-top .container .row .col-md-3 .footer-4 .sibar-search {
      padding: 10px 0; }
      #footer .footer-top .container .row .col-md-3 .footer-4 .sibar-search input {
        height: 45px;
        width: 75%;
        border: none;
        text-indent: 20px;
        background: #52504e; }
      #footer .footer-top .container .row .col-md-3 .footer-4 .sibar-search button {
        height: 45px;
        background: #ed8d05;
        color: #ffffff;
        width: 25%;
        float: right;
        border: none;
        font-size: 12px;
        font-family: raleway;
        font-weight: bold; }
    #footer .footer-top .container .row .col-md-3 .footer-4 .footer-icon {
      padding-top: 10px; }
      #footer .footer-top .container .row .col-md-3 .footer-4 .footer-icon a {
        padding: 5px; }
#footer .border-footer {
  background-image: url(../images/border-footer.png);
  background-repeat: repeat;
  height: 5px; }
#footer .footer-down {
  background: #333333;
  padding: 50px 0 30px 0; }
  #footer .footer-down p {
    font-family: raleway;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    float: left;
    margin-top: 5px; }
  #footer .footer-down .footer-menu {
    float: right; }
    #footer .footer-down .footer-menu ul {
      list-style: none; }
      #footer .footer-down .footer-menu ul li {
        display: inline-block; }
        #footer .footer-down .footer-menu ul li a {
          font-family: raleway;
          font-size: 11px;
          font-weight: bold;
          color: #ffffff; }
        #footer .footer-down .footer-menu ul li span {
          color: #ffffff;
          padding: 5px;
          font-size: 12px; }

@media only screen and (max-width: 414px) {
  .jm-collapse {
    margin-left: 30px; } }
/* JMenu 1.0 RC1 | MIT License | https://github.com/jamesjohnson280/JMenu */
/* JMenu 1.0 RC1 | MIT License | https://github.com/jamesjohnson280/JMenu */

/*# sourceMappingURL=style.css.map */
