body {
	font-size:14px;
	margin:0 auto;
}
@font-face {
font-family: Georgia;
src:url('../fonts/georgia italic.ttf') format('truetype'),
url('../fonts/Georgia Regular font.ttf') format('embedded-opentype'),
url(‘../fonts/Captureit.woff’) format(‘woff’);
font-weight:normal;
 font-style:normal;
}
hr {
	border-color: #666666;
}
$color:#ffffff;
$font-family:Dosis;
$font-weight:bold;
$black:#333333;
$raleway:raleway;
$white:#878787;

#header {
	.header-menu {
		background: #232323;
	    padding: 0 0 20px 0;
		.container {
			.menu-list {
			}
			.menu-left {
				ul {
					list-style:none;
					li {
						display: inline-block;
						margin-right: 20px;
						a {
							color: $color;
							font-family:$font-family;
							font-size:16px;
							font-weight:$font-weight;
							line-height: 60px;
							i {
								color: #f8a631;
							}

						}

					}
				}
			}
			a {

			}
			.menu-right {
				ul {
					list-style:none;
					li {
					    display: inline-block;
					    margin-right: 20px;
						a {
							color: $color;
							font-family:$font-family;
							font-size:16px;
							font-weight:$font-weight;
							line-height: 60px;

						}
					}
				}
			}
		}
	}
	.header-page {
		background:#585858;
		.container {
			.page-blog {
			    text-align: center;
		        padding: 60px;
				h1{
					color: $color;
					font-family:$font-family;
					font-size:30px;
					font-weight:$font-weight;

				}
				.blog-menu {
					a {
						color: $color;
					    font-family: Georgia;
						font-size:14px;
						font-style:Italic;
					}
					span {
						margin: 3px;
    					color: white;
					}
				}
				
			}
		}
	}
}
.content {
	padding-top: 50px;
	padding-bottom: 70px;
	.container {
		.row {
			.col-md-8 {
				.content-camera {
					.header-camera {
						background: #bd83d4;
						.icon-camera {
							text-align: center;
							padding: 10px;
							img {
								margin: 10px;

							}
							p {
								color: $color;
								font-family: $raleway;
								font-weight: $font-weight;
								font-size: 12px;
							}
						}
					}
					.footer-camera {
						a {
							img {
								max-width: 100%;
								
							}
						}

					}
				}
				.content-blog {
					text-align: center;
					.blog-icon {
					    padding-left: 35%;
						i {
						    float: left;
						    font-size: 30px;
						    margin-right: 10px;
						}
						p {
						    line-height: 35px;
							a {
								color: #777777;
								font-family: $raleway;
								font-size: 14px;
							}
						}
					}
					a {
						img {
							max-width: 100%;
						}
					}
					h3 {
						font-family: $raleway;
					    font-size: 14px;
					    color: #f8a631;
					}
					h1 {
						padding: 0 55px;
						font-family: $raleway;
					    font-size: 36px;
					    font-weight:$font-weight;
					    color: #333333;
					}
					p {
						font-family: $raleway;
					    font-size: 16px;
					    color: $white;
					}
					h5 {
						font-family: $raleway;
					    font-size: 14px;
					    color: #777777;
					}
					ul {
						list-style: none;
						padding: 0;
						span {
								i {
									font-size: 5px;
									color: #999999;
								}
							}
						li {
							display: inline-block;
							margin: 10px;
							a {
								font-family: $raleway;
							    font-size: 12px;
							    color: #777777;
							    i {
							    	margin-right: 5px;
							    }
							}


						}
					}
				}
				.content-list-1 {
					h2 {
						font-family: $raleway;
					    font-size: 30px;
					    font-weight: $font-weight;
					    color: $white;
					}
					p {

						font-family: $raleway;
					    font-size: 16px;
					    color: $white;
				        padding-top: 10px;
				        a {
							font-family: $raleway;
						    font-size: 13px;
						    color: $white;
					        padding-top: 10px;


						}

					}
					a { 
						img {
							width: 100%;
						}

					}
					ul {
						padding: 20px 20px;
						li {
							list-style: none;
							margin-top: 10px;
							a {
								font-family: $raleway;
							    font-size: 16px;
							    color: $white;
							    i {
						    	    margin-right: 10px;
								    font-size: 10px;
								    border: 3px solid #f4f4f4;
								    border-radius: 50%;
								    line-height: 9px;
							    }

							}
						}
					}
				}
				.content-list-2 {
					text-align: center;
					ul {
						li { 
							list-style: none; 
							display: inline-block;
							margin-right: 10px;
							a {
								font-family: $raleway;
							    font-size: 12px;
							    color: $white;
							    i {
						    	    margin-right: 10px;
							    }


							}
						}
					}
				}
				.content-list-blog {
					text-align: center;
					padding-top: 20px;
					.icon-list {
						position: relative;
						&:after {
				    	    content: '';
						    height: 1px;
						    background: #f4f4f4;
						    position: absolute;
					        width: 42%;
						    right: 0;
						    top: 45px;
						}
						&:before {
				    	    content: '';
						    height: 1px;
						    background: #f4f4f4;
						    position: absolute;
					        width: 42%;
						    left: 0;
						    top: 45px;
						}
					}

					h3 {
						font-family: $raleway;
					    font-size: 14px;
					    font-weight: $font-weight;
					    color: #f8a631;
					}
					p {
						font-family: $raleway;
					    font-size: 13px;
					    color: $white;
					}
					ul {
						li {
							list-style: none;
							display: inline-block;
							a {
								font-family: $raleway;
							    font-size: 11px;
							    color: #2980b9;
							    font-weight: $font-weight;

							}
							i {
								font-size: 3px;
								padding: 15px;
							}
						}
					}

				}
				.content-related {
					padding-bottom: 200px;
				    padding-top: 10px;
				    border-top: 2px solid #f4f4f4;
					h3 {
						font-family: $font-family;
						color: $black;
						font-weight: $font-weight;
						font-size: 24px;
						text-align: center;
					}
					.related-post{
						padding-top: 40px;
						&:after {
							display:block;
						}
					.post-item {
						background: #f4f4f4;
					    width: 50%;
    					float: left;
    					border-right: 2px solid white;
					.related-item {
						padding: 20px;
						a {
							float: left;
							margin-right: 15px;
						}
						.item-related {
							span {
								color: #f8a631;
								font-weight: $font-weight;
								font-family: $raleway;
								font-size:11px;
							}
							h4 {
								font-family: $raleway;
								font-weight: $font-weight;
								font-size: 16px;
								color: $black;
							}
							p {
								font-family: $raleway;
								font-size: 12px;
								color: #666666;
							}
						}
					}
					}
					.post-item-2 {
						background: #f4f4f4;
					    width: 50%;
   						float: right;
   						border-left: 2px solid white;
					.related-item-2 {
						padding: 20px;
						a {
							float: left;
							margin-right: 15px;
						}
						.item-related-2 {
							span {
								color: #f8a631;
								font-weight: $font-weight;
								font-family: $raleway;
								font-size:11px;
							}
							h4 {
								font-family: $raleway;
								font-weight: $font-weight;
								font-size: 16px;
								color: $black;
							}
							p {
								font-family: $raleway;
								font-size: 12px;
								color: #666666;
							}
						}
					}
					}
					}
				}
				.content-comment {
				    padding-bottom: 50px;
			        border-top: 2px solid #f4f4f4;
			        padding-top: 30px;
					h3 {
						font-size: 18px;
						font-family: $raleway;
						font-weight: $font-weight;
						color: $black;
						text-align: center;
					}
					.comment-blog {
					    padding-top: 30px;
						.blog-left {
							padding-left: 100px;
						}
						.comment-list {
							a {
								float: left;
								margin-right: 20px;
							}
							.list-top {
								.list-top-comment {
									background-color: #f4f4f4;
									margin-left: 50px;
									padding: 10px 15px 11px 50px;
								}
							    padding-top: 10px;
								.list-comment {
								    padding-bottom: 40px;
									.comment-1 {
										float:left; 
									}
									.comment-2 {
										float: right;
									}
									h4 {
										font-family: $raleway;
										font-weight: $font-weight;
										font-size: 14px;
										color: $black;
										span {
											font-family: $raleway;
											font-weight: $font-weight;
											font-size: 11px;
											color: #999999;
											cursor: pointer;
										}	

									}
									p {
										font-family: $raleway;
										font-weight: $font-weight;
										font-size: 11px;
										color: #999999;

									}
									span {
										font-family: $raleway;
										font-weight: $font-weight;
										font-size: 11px;
										color: #2980b9;
										cursor: pointer;	
									}
								}
								p {
								    font-family: raleway;
								    font-size: 13px;
								    color: #333333;
								    clear: right;
								    border-top: 1px solid #f4f4f4;
								    padding: 15px;
								    margin-left: 137px;
								}
							}
						}
					}
				}
				.content-blog-comment {
					background: #f4f4f4;
					.blog-comment {
						padding: 20px;
						h3 {
							font-family: $raleway;
							font-weight: $font-weight;
							font-size: 18px;
							color: $black;
							text-align: center;
						}
						p {
							font-family: $raleway;
							font-weight: $font-weight;
							font-size: 14px;
							color: #999999;
							text-align: center;
						}
					}
					.blog-list {
						.blog-list-comment {
							display: flex;
							.comment-name {
							    padding: 20px 0px 0 20px;
								p {
									font-family: $raleway;
									font-weight: $font-weight;
									font-size: 14px;
									color: $black;
									span {
										font-family: $raleway;
										font-weight: $font-weight;
										font-size: 14px;
										color: #999999;
									}
								}
								input {
									height: 45px;
									border: none;
									width: 223px;
								}
							}
						}
						.comment-list {
							padding: 20px;
							p {
								font-family: $raleway;
								font-weight: $font-weight;
								font-size: 14px;
								color: $black;	
							}
							textarea  {
								width: 100%;
								height: 300px;
								border: none;
							}					
						}
						.comment-footer {
							padding: 20px;
							display: flex;
    						justify-content: space-between;
							span {
								font-family: $raleway;
								font-size: 14px;
								color: #5e5e5e;
							}
							button {
								height: 45px;
								width: 160px;
								background: #f8a631;
								color: $color;
								font-family: $raleway;
								font-weight: $font-weight;
								font-size: 16px;
								border: none;
								border-radius: 25px; 
							}
						}
					}
				}



































































































				.content-camera-2 {
				    padding-top: 40px;
					.header-camera {
						background: red;
						.icon-camera {
							text-align: center;
							padding: 10px;
							img {
								margin: 10px;
							}
							p {
								color: $color;
								font-family: raleway;
								font-weight: $font-weight;
								font-size: 12px;
							}
						}
					}
					.footer-camera {
						a {
							img {
								max-width: 100%;
								
							}
						}
					}
				}
				.content-blog {
					a {
						img {
							max-width: 100%;
						}
					}
					h3 {
						font-family: raleway;
					    font-size: 14px;
					    color: #f8a631;
					}
					h1 {
						padding: 0 55px;
						font-family: raleway;
					    font-size: 36px;
					    font-weight:$font-weight;
					    color: #333333;
					}
					p {
						font-family: raleway;
					    font-size: 16px;
					    color: #878787;
				        text-align: justify;
					}
					h5 {
						font-family: raleway;
					    font-size: 14px;
					    color: #777777;
					}
				}
				.content-camera-3 {
					padding-top: 40px;
					.header-camera {
						background: #eba05e;
						.icon-camera {
							text-align: center;
							padding: 10px;
							img {
								margin: 10px;
							}
							p {
								color: $color;
								font-family: raleway;
								font-weight: $font-weight;
								font-size: 12px;
							}
						}
					}
					.footer-camera {
						background: #f4f4f4;
						margin-top: -20px;
						h3 {
							padding: 50px;
							font-family: raleway;
							font-weight: $font-weight;
							font-size: 30px;
							text-align: center;
						}
						
					}
				} 
				.content-camera-4 {
					padding-top: 40px;
					.header-camera {
						background: #2c84d6;
						.icon-camera {
							text-align: center;
							padding: 10px;
							img {
								margin: 10px;
							}
							p {
								color: $color;
								font-family: raleway;
								font-weight: $font-weight;
								font-size: 12px;
							}
						}
					}
					.footer-camera {
						a {
							img {
								max-width: 100%;
							}
						}
						
						
					}
				}
				.content-camera-5 {
					padding-top: 40px;
					.header-camera {
						background: #2c84d6;
						.icon-camera {
							text-align: center;
							padding: 10px;
							img {
								margin: 10px;
							}
							p {
								color: $color;
								font-family: raleway;
								font-weight: $font-weight;
								font-size: 12px;
							}
						}
					}
					.footer-camera {
						background: #f4f4f4;
						
						
					}
				}
				.content-camera-6 {
					padding-top: 40px;
					.header-camera {
						background: #37be70;
						.icon-camera {
							text-align: center;
							padding: 10px;
							img {
								margin: 10px;
							}
							p {
								color: $color;
								font-weight: $font-weight;
								font-size: 12px;
							}
						}
					}
					.footer-camera {
						background: #232323;
						margin-top: -20px;
						h3 {
							padding: 50px;
						    font-family: Georgia;
							font-size: 30px;
							color: $color;
						}
						p {
							color: #999999;
						    padding: 0px 0 50px 50px;
						    font-family: raleway;
						    font-size: 14px;
						}
						
					}
				}
				.content-camera-7 {
					padding-top: 40px;
					.header-camera {
						background: #2c3e50;
						.icon-camera {
							text-align: center;
							padding: 10px;
							img {
								margin: 10px;
							}
							p {
								color: $color;
								font-family: raleway;
								font-weight: $font-weight;
								font-size: 12px;
							}
						}
					}
					.footer-camera {
						a {
							img {
								max-width: 100%;
								
							}
						}
					}
				}
				.content-camera-8 {
					padding-top: 40px;
					.header-camera {
						background: #f39c12;
						.icon-camera {
							text-align: center;
							padding: 10px;
							img {
								margin: 10px;
							}
							p {
								color: $color;
								font-family: raleway;
								font-weight: $font-weight;
								font-size: 12px;
							}
						}
					}
					.footer-camera {
						a {
							img {
								max-width: 100%;
								
							}
						}
					}
				}
				.content-camera-9 {
					padding-top: 40px;
					.header-camera {
						background: #7b6555;
						.icon-camera {
							text-align: center;
							padding: 10px;
							img {
								margin: 10px;
							}
							p {
								color: $color;
								font-family: raleway;
								font-weight: $font-weight;
								font-size: 12px;
							}
						}
					}
					.footer-camera {
						background: #f4f4f4;
						margin-top: -20px;
						h3 {
							padding: 50px;
							font-family: raleway;
							font-weight: $font-weight;
							font-size: 30px;
							text-align: center;
						}
						
					}
				}
				.content-blog {
					.blog-media {
						background-color: #f4f4f4;
						padding: 20px;
					}
				}
				.content-camera-10 {
					padding-top: 40px;
					.header-camera {
						background: #235935;
						.icon-camera {
							text-align: center;
							padding: 10px;
							img {
								margin: 10px;
							}
							p {
								color: $color;
								font-family: raleway;
								font-weight: $font-weight;
								font-size: 12px;
							}
						}
					}
					.footer-camera {
						background: #f4f4f4;
						margin-top: -20px;
						h3 {
							padding: 50px;
							font-family: raleway;
							font-weight: $font-weight;
							font-size: 30px;
							text-align: center;
						}
						
					}
				}   
			}
			.col-md-4{
				.sibar {
					.sibar-search {
						margin-top: -20px;
						img {
							margin-top: -15px;
						}
						h2 {
							font-weight: $font-weight;
							font-family: $font-family;
							font-size: 16px;
						}
						p {
							font-family: raleway;
							font-size: 13px;
							color: #656565; 
						}
						
						input {
							height: 45px;
							width: 75%;
						    border: 1px solid #dddddd;
						    text-indent: 20px;
							}
						button {
							
							height: 45px;
							background:#ed8d05;
							color: $color;
							width: 25%;
							float: right;
							border: none;
							font-size: 12px;
							font-family: raleway;
							font-weight: $font-weight;

						
						}
					}
				}
				.sibar-top {
				    background: #f4f4f4;
    				margin-top: 30px;
					.sibar-tab {
						.menu-tab {
							padding: 0;
							li {
								list-style: none;
							    float: left;
							    background: #464442;
							    padding: 20px 32px 20px 33px;
								a {
									font-family: raleway;
									font-size: 12px;
									color: $color;
									font-weight: $font-weight; 

								}
								&:hover {
									background: #f4f4f4;
									a {
							    		color: black;
							    	}
								}
							}
							.active {
							    background: #f4f4f4;
							    a {
							    	color: black;
							    }
							}
						}
						ul {
							list-style: none;
							padding-left: 0;
							padding-bottom: 30px;
							padding-top: 20px;
							clear: both;
							li {
						        padding: 1px 0px 0px 38px;
								img {
									max-width: 100%;
									float: left;
									margin-right: 10px;
									cursor: pointer;
								}
								.icon-star {
									margin-top: -20px;
   									padding-bottom: 10px;
   									i {
   										color: #f88d31;

   									}
   									span {
   										i {
   											color: #999999;
   										}
   									}

								}
								h3 {
									font-family: raleway;
									font-size: 13px;
									color: #333333;
									font-weight: $font-weight; 
									cursor: pointer;
								}
								
							}
							hr {
							    width: 74%;
							    border: red;
							}
						}
					}
				}
				.sibar-editor {
					padding-top: 20px;
					h3 {
							font-weight: $font-weight;
							font-family: $font-family;
							font-size: 16px;
							color: #333333;
						}
					a {
						img {
							max-width: 100%;
						}
					}
					.Edittor-header {
					    border: 1px solid #dcdcdc;
    					padding: 10px;
						h4 {
							font-family: raleway; 
							font-size: 18px;
							font-weight: $font-weight;
							color: #000000;
						}
						p {
							font-family: raleway; 
							font-size: 12px;
							color: #999999;
						}
						.Edittor-footer {
							a {
								font-family: raleway; 
								font-size: 12px;
								font-weight: $font-weight;
								color: #999999;
								i {
									color: green;
								}
							}
							.icon-sibar {
								float: right;
								i {
									color: #f8c231;
								}
								span {
									i {
										color: #cdcdcd;
									}
								}
							}
						}
					}
					
				}
				.sibar-adverti {
					padding-top: 20px;
					h3 {
							font-weight: $font-weight;
							font-family: $font-family;
							font-size: 16px;
							color: #333333;
						}
					.adverti-picture {
						.picture-sibar {
							padding-left: 17px;
						}
						background: #f4f4f4;
						a {
							img {
								max-width: 100%;
								margin: 17px;

							}
						}
					}
				}
				.sibar-intergram {
					padding-top: 20px;
					h3 {
							font-weight: $font-weight;
							font-family: $font-family;
							font-size: 16px;
							color: #333333;
						}
					.intergram-picture {
						a {
							margin: 5px;
							img {
								max-width: 100%;
							    margin-top: 14px;
							}
						}
					}

				}
				.sibar-video {
					padding-top: 20px;
					h3 {
							font-weight: $font-weight;
							font-family: $font-family;
							font-size: 16px;
							color: #333333;
						}
					a {
						img {
							max-width: 100%;
						}
					}
				}
				.sibar-link {
					padding-top: 20px;

					.link-one {
						float: left;
						img {
							margin-top: -10px;
						}
						h3 {
							font-weight: $font-weight;
							font-family: $font-family;
							font-size: 16px;
							color: #333333;
						}
						ul {
							padding-left: 18px;
							color: #f88d31;
							li {
								a {
									font-family: raleway;
									font-size: 13px;
									color: #333333;
									font-weight: $font-weight; 
								}
							}
						}
					}
					.link-two {
						float: right;
						padding-right: 100px;
						img {
							margin-top: -10px;
						}
						h3 {
							font-weight: $font-weight;
							font-family: $font-family;
							font-size: 16px;
							color: #333333;
						}
						ul {
							color: #f88d31;
							padding-left: 18px;
							li {
								a {
									font-family: raleway;
									font-size: 12px;
									color: #333333;
									font-weight: $font-weight; 
								}
							}
						}
					}
				}
			}
		}
		.content-padgination {
			text-align: center;
			padding-bottom: 40px;
			.pagination {
				text-align: center;
				a {
				    color: black;
				    float: left;
				    text-decoration: none;
				    transition: background-color .3s;
				    border: 1px solid #ddd;
				    margin: 0 4px;
				  	border-radius:50%;
				    height:40px;
				    width:40px;
				    line-height:40px;
				}
			    a.active {
				    background-color: #f8a631;
				    color: white;
				    border: 1px solid #f8a631;
				}
				a:hover:not(.active) {
					background-color: #f8a631;
					color: white;
				}
			}
		}
	}
}
#footer {
	.footer-top {
		background: #333333;
		padding-bottom: 50px;
		.container {
			.row {
				.col-md-3 {
					.footer-1 {
					    padding-top: 30px;
						h3 {
							a {
						
							font-weight: $font-weight;
							font-family: $font-family;
							font-size: 18px;
							color: $color;
							}
						}
						ul {
							list-style: none;
							padding-left: 0;
							padding-top: 10px;
							li {
							    padding-bottom: 10px;
								img {
									max-width: 100%;
									float: left;
								}
								.picture {
									h4 {
										a {
											font-family: raleway; 
											font-size: 13px;
											font-weight: $font-weight;
											color: $color;
										}
									}
									i {
										color: #f88d31;
										font-size: 10px;
									}
									span {
										i {
											color: #999999;
										}
									}
								}
							}
						}

					}
					.footer-2 {
					    padding-top: 30px;
						h3 {
							a {
						
							font-weight: $font-weight;
							font-family: $font-family;
							font-size: 18px;
							color: $color;
							}
						}
						ul {
							list-style: none;
							padding-left: 0;
							padding-top: 10px;
							li {
							    margin-bottom: -10px;
								a {
									font-family: raleway; 
									font-size: 13px;
									font-weight: $font-weight;
									color: $color;

								}
							}
						}
					}
					.footer-3 {
						padding-top: 30px;
						h3 {
							a {
						
							font-weight: $font-weight;
							font-family: $font-family;
							font-size: 18px;
							color: $color;
							}
						}
						ul {
							list-style: none;
							padding-left: 0;
						    padding-top: 10px;
							li {
								a {
									font-family: raleway; 
									font-size: 10px;
									font-weight: $font-weight;
									color: #cccccc;
									margin-right: 10px;

								}
								p {
									font-family: raleway; 
									font-size: 13px;
									font-weight: $font-weight;
									color: $color;

								}
							}
						}
					}
					.footer-4 {
						padding-top: 30px;
						h3 {
							a {
						
							font-weight: $font-weight;
							font-family: $font-family;
							font-size: 18px;
							color: $color;
							}
						}
						p {
							a {
								font-family: raleway; 
								font-size: 12px;
								font-weight: $font-weight;
								color: $color;
							    padding-top: 10px;

							}
						}
						h4 {
							padding-top: 30px;
							a {
						
							font-weight: $font-weight;
							font-family: $font-family;
							font-size: 18px;
							color: $color;
							}
						}
						a {
							i {
								color: $color;
								font-size: 16px;
								cursor: pointer;
							}
						}
						p {
							font-family: raleway; 
							font-size: 10px;
							font-weight: $font-weight;
							color: #cccccc;
							padding-top: 10px;
						}
						.sibar-search {

						    padding: 10px 0;
							input {
								height: 45px;
								width: 75%;
							    border: none;
							    text-indent: 20px;
							    background: #52504e;
							}
							button {
								
								height: 45px;
								background:#ed8d05;
								color: $color;
								width: 25%;
								float: right;
								border: none;
								font-size: 12px;
								font-family: raleway;
								font-weight: $font-weight;
							}
						}
						.footer-icon {
							padding-top: 10px;
							a {
								padding: 5px;
							}
						}
					}

				}
			}
		}
	}
	.border-footer {
		background-image: url(../images/border-footer.png);
		background-repeat: repeat;
		height: 5px;
	}
	.footer-down {
		background: #333333;
		padding: 50px 0 30px 0;
		p {
			font-family: raleway; 
			font-size: 11px;
			font-weight: $font-weight;
			color: $color;
			float: left;
			margin-top: 5px;
		}
		.footer-menu {
			float: right;
			ul {
				list-style: none;
				li {
					display: inline-block;
					a {
						font-family: raleway; 
						font-size: 11px;
						font-weight: $font-weight;
						color: $color;
					}
					span {
						color: $color; 
						padding: 5px;
					    font-size: 12px;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 414px) {
  .jm-collapse {
    margin-left: 30px;
  }
}
/* JMenu 1.0 RC1 | MIT License | https://github.com/jamesjohnson280/JMenu */

/* JMenu 1.0 RC1 | MIT License | https://github.com/jamesjohnson280/JMenu */